<div id="aboutScroller" x-mojo-element="Scroller">
	<div>
	<p class="game-explanation">
		<center><img src="icon.png"></center><br>
    <strong class="important">Note:</strong> This is the advanced webOS port of the 2048 game. This version was created by Jan Heřman (72ka). If you like this webOS version, please consider a donation. Thank you.
    </p>
    <center>
    <form action="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=5CTRZJLKKUBS4&lc=CZ&item_name=Jan%20Herman&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=5CTRZJLKKUBS4&lc=CZ&item_name=Jan%20Herman&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted" method="post">				
					<input type="image" src="images/x-click-butcc-donate.gif" style="text-align: center" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	</form>
	</center>
    <hr>
   
    <p>
	<strong class="important">Changelog: </strong><br>
	0.0.2 - Fixed issues on webOS 2.1; Speed optimization; Added Undo (backswipe, on the Touchpad Undo button); Fixed the Touchpad portrait orientation; Touch response on the whole screen<br>
	0.0.1 - Initial release<br>
    </p>
    
     <hr>
    
    <p>
	<strong class="important">How to play:</strong> Use your <strong>touchscreen</strong> or <strong>W,A,S,D</strong> keys to move the tiles. When two tiles with the same number touch, they <strong>merge into one!</strong>
    </p>
    <hr>
    <p>
    You can play the original version via <a href="http://git.io/2048">http://git.io/2048.</a>, created by <a href="http://gabrielecirulli.com" target="_blank">Gabriele Cirulli.</a> Based on <a href="https://itunes.apple.com/us/app/1024!/id823499224" target="_blank">1024 by Veewo Studio</a> and conceptually similar to <a href="http://asherv.com/threes/" target="_blank">Threes by Asher Vollmer.</a>
    </p>
  </div>
</div>

